[2017-02-27 20:40] simonv3 commented on #874
I do, but @sophiakc is the expert.

As for the crop results, the idea (ultimately) is that there's at the top of the search results crops that are relevant to the search will be displayed. I think that was in one of the mock-ups, but I can't see it right away. @sophiakc, any thoughts?

[2017-02-27 23:16] #902 closed

[2017-02-28 03:55] sophiakc commented on #863
@roryaronson
I didn't say the slack should have only a general channel. People are free to create specific channels, and so we could see what they create. The use case you describe are very useful. But we can't imagine them until there is something out there.
Which tool, if not Slack, should we use to quickly get a sense of those use cases? That we could be live quickly?

I think the comments on g

[2017-02-28 04:02] roryaronson commented on #813
I think encouraging readers to annotate/add to/interact with the guide is a great idea. Though I think the Guide must remain authored by a single person as we seem in agreement on. Comments on the guide (as a whole) I think would be the most logical first step. Eventually comments could be linked to a specific section of the guide, or something. And we could also look into implementing a "suggeste

[2017-02-28 04:19] roryaronson commented on #863
I think Slack for developers is useful when it is used by developers for development. When someone comes in to ask for general or specific gardening advice, in my opinion it is the wrong place and somewhat the wrong audience.

If we want to get a sense of what people are asking and helping each other out with, we can look at any of the existing gardening forums out there: https://www.google.com/se

[2017-02-28 23:52] sophiakc commented on #813
Hey @roryaronson
Not sure about what you're answering to...
My initial question is: For the guide creation, would you be open to try something radically new, putting on a side the actual structure of the guide creation flow and offering a way to simply add a title, some text and structured elements like we could do with the above UI?
If yes, I'll prep the wires for the new guide creation flow.

Ye

[2017-03-01 00:27] sophiakc commented on #863
@simonv3 said:
We can set up a slack, but I’m personally not going to invest time into being active on it. If we can find another volunteer to do so, that’d be great!
I just don’t want to split audience / effort over this

=> I don't see the Slack for gardeners as a channel that we need to facilitate. It's more to let it lives by itself and observe what people ask and what they do with it. Other f

[2017-03-01 00:28] sophiakc opened #912 "Footer restructure"
Check if links and all are accurate, based on the new navbar of the homepage

[2017-03-01 16:37] nicholasedwards commented on #874
@sophiakc thanks for the thoughtful feedback! That answers all my questions for this iteration.

From a gardening perspective, I agree that the value for users is in the guides, so it makes sense to try an iteration where the search results are just guides (and the related crop is accessible via the guide).

I am working on #875 now.

[2017-03-01 18:34] simonv3 commented on #874
Awesome. Thank you @nicholasedwards!

[2017-03-02 03:19] sophiakc commented on #912
![new footer ui suggestion](https://cloud.githubusercontent.com/assets/3863675/23491554/d2057428-feb3-11e6-95bb-69a48ca9c3a0.png)

![homepage w new footer](https://cloud.githubusercontent.com/assets/3863675/23491578/f12b369e-feb3-11e6-9629-59c140924cc5.jpg)

See comments, URL links, colors, dimensions, CSS references directly on the [Artboard](https://www.figma.com/file/DI0CgjwF4BRYBe0j5oiGs0w2/Fo

[2017-03-02 03:32] sophiakc commented on #813
Initial title of this issue: When creating a guide the user should be able to skip the stages bit

[2017-03-02 16:00] simonv3 commented on #912
Note: we can't use that logo because we're not an OSI affiliate.

[2017-03-02 22:32] sophiakc commented on #813
@roryaronson what's your take on that?

[2017-03-03 12:05] andru commented on #813
I think there's awesome potential to strike gold here @sophiakc :)

If we can make the addition of the phases feel creative rather than laborious, it could really help reduce the feeling of intimidation and suppression of creativity that comes over when you're given a form to fill out which doesn't let you colour outside the lines.

If we can help the user feel like they're writing a story and yet

[2017-03-04 18:11] #791 closed

[2017-03-05 17:42] Rupal-IIITD opened #915 "Caching of one selection for all other crops selected later(Browser specific)"
While creating a new guide for a crop, we are redirected to a new page where we select the crop and then the crop image is displayed. If we change our mind to make a guide on some other crop and go back to select that crop and then click on creating a new guide, it redirects us to a page, not asking for the crop but it displays our previous selection. This happens even if we login into our account

[2017-03-05 19:01] roryaronson commented on #915
@Rupal-IIITD, I think this is happening because the browser is caching a partially completed Guide which we want to do in case you are farther along the guide creation process and your browser crashes or you accidentally close it. Right @simonv3?

Though it doesn't make much sense to cache the Guide if the user has *only* selected a Crop. Cause that's easy to re-do if the user needs to.

[2017-03-05 19:26] roryaronson commented on #813
I like the idea of Guide creation being fast and easy for someone and less intimidating and laborious. Right now the flow has the user go through a pretty structured process from the start, which I think is good for an expert who has all the needed knowledge/photos/etc now and wants to create a complete guide. A less structured process that becomes structured later would be better for someone who

[2017-03-05 19:34] roryaronson commented on #915
I think once the author completes the guide, the cache is cleared. If you click the "Add Guide" button from another Crop, rather than clearing the cache and starting off with the new Crop, it loads the cache.

Making the cache less aggressive such that it only starts caching if the user reaches a certain point in the Guide creation flow I think makes more sense. A logical point to me to begin cach

[2017-03-05 19:41] Rupal-IIITD commented on #915
Ohh okay.
You rightly said that it makes more sense if we make it such a way that caching happens

[2017-03-05 19:44] Rupal-IIITD commented on #915
Ohh okay.
You rightly said that

[2017-03-05 21:39] simonv3 commented on #915
Thanks for creating this issue @Rupal-IIITD! I'm going to tag this into #813 so that we're aware of it while considering changes to guide creation.

[2017-03-06 03:54] Rupal-IIITD commented on #915
Sure.
I and my teammate, @gargi-gupta will try and solve this issue.
Thanks :)

[2017-03-06 14:23] gargi-gupta commented on #908
I think that having the option of 'developer' or 'gardener' on the welcome page popup gives the user the option to cancel the popup, and hence skip this step. Instead, these options should be present on the welcome page and the user should be redirected to appropriate pages after making a selection.

[2017-03-06 16:20] simonv3 commented on #915
@Rupal-IIITD okay! Can you elaborate on this a bit?

[2017-03-06 16:35] gargi-gupta commented on #915
For example: If a user is making a guide on tomatoes and accidentally closes the tab or loses power supply, then on reopening, the guide created till that point should be present. The user should not make the guide from scratch again.
But this caching for tomato should not appear for any other crop. On reopening the tab, if the user wants to make a guide on cherry tomatoes instead of tomatoes, the

[2017-03-06 17:13] gargi-gupta commented on #823
What exactly do you mean by this : "whenever a guide gets updated we recalculate the counter on the crop for that guide."?

[2017-03-06 17:24] Rupal-IIITD commented on #915
Yeah @gargi-gupta is right!
Any suggestions?

[2017-03-06 17:53] simonv3 commented on #915
So basically if the user is still on step one of guide creation, the guide shouldn't be cached?

[2017-03-06 18:00] simonv3 commented on #823
@gargi-gupta when you search for crops it shows how many guides are linked to the crop, but at the moment that count of guides includes guides that are drafts and aren't publicly viewable yet, so that number is technically wrong.

Mongoid provides a counter method for keeping track of how many links there are between two objects, but in this case it wouldn't work, because the link we're looking fo

[2017-03-06 18:09] Rupal-IIITD commented on #915
Yeah you got it right!
It should cache the guide only when it is at a certain level of guide creation(after 1st step, of course) and that too only for that crop.

[2017-03-06 18:16] gargi-gupta commented on #844
Will the user-defined environments be reviewed by OpenFarm moderators?

[2017-03-06 18:16] simonv3 commented on #915
Sounds good to me. While you're in there can you also fix a thing where it's not properly caching nested stages? (kind of just kidding - I haven't debugged this properly, but if you do get around to it, that would be awesome!)

[2017-03-06 18:21] simonv3 commented on #844
I don't think so. @roryaronson, what do you think?

This doesn't mean changing the detail options which store our defaults - we'll still have control of those and those will still define the environment variables that get shown to the user. This would just be letting the user add a random string instead of one of our predefined ones.

What I imagine being useful in the future is for a) lookahead t

[2017-03-06 18:32] gargi-gupta commented on #915
Yes, @Rupal-IIITD and I will definitely work on this.

[2017-03-06 18:34] Rupal-IIITD commented on #915
Yeah!
Thanks @simonv3 @roryaronson for your inputs. We will try and work on this.

[2017-03-06 19:57] roryaronson commented on #844
That all sounds great ^

Thanks for helping out @gargi-gupta !!

[2017-03-07 06:07] gargi-gupta commented on #823
Yeah!
I now understand what this issue is all about. I, along with my teammate @Rupal-IIITD will work on this.

[2017-03-09 02:26] sophiakc commented on #874
Hey @nicholasedwards how are things going? Do you have any more questions?

[2017-03-09 02:27] sophiakc commented on #903
Hey @anant-dev how are things going? Do you have any questions, concerns, feedbacks?

[2017-03-09 02:29] sophiakc commented on #908
Hey @gargi-gupta, this has been agreed that the popup isn't probably the right location for that. So we'll keep it for somewhere else. Are you willing to work on implementing the popup?

[2017-03-09 02:33] sophiakc commented on #863
@roryaronson ? :)

[2017-03-09 02:39] sophiakc commented on #813
@andru interesting input! I'm open to discuss how this could look like UI-wise regarding what's doable and chosen on the technical side.

@roryaronson where can I have access to metrics such as:
- how many guides have been created and when
- among them how many are complete/ incomplete
- what are the pages/ sections that are not completed
- which sections are useful for Farmbot?

@roryaronson I am

[2017-03-09 03:37] roryaronson commented on #863
I can't think of any other tools that I think would be worthwhile implementing to observe specific use cases or to make up for OpenFarm's currently lacking features. I think over the years we've received a lot of feedback and feature requests, and learned a lot about use cases and needs, etc. Now, our time is best spent actually implementing the features we're pretty certain will be useful rather

[2017-03-09 03:57] roryaronson commented on #813
Here are some numbers from the admin side of the site:
<img width="1052" alt="screen shot 2017-03-08 at 7 39 46 pm" src="https://cloud.githubusercontent.com/assets/5524043/23734917/1cc91cde-0437-11e7-96f7-a3069d436d83.png">

You can get a feel for "completeness" of guides by just browsing around and see what people have created and what is missing.

FarmBot currently uses Crop photos and informati

[2017-03-10 01:29] nicholasedwards commented on #874
Hey @sophiakc I have made some progress on the front-end layout and styling of the search bar (separately from the application code), but I haven't yet been able to integrate it into the application. I'm realizing that I don't yet have the Javascript/Angular knowledge to be able to fully implement the search functionality.

Here is the HTML/CSS I have written so far for #875 (with a screenshot in

[2017-03-10 01:44] nicholasedwards commented on #875
Here is some front-end code for this that is outside of the context of the entire application: https://gist.github.com/nicholasedwards/c438d1fd1f06b4033e29c8ad1a9baf90

Next steps would be to tie that markup into the application markup and set up the inputs as search result filters (probably with Angular).

I am unassigning myself from this for now in order to focus on learning Javascript and Angu

[2017-03-10 04:19] simonv3 commented on #875
@nicholasedwards I would be more than happy to help you out with implementing this in JS. Let me know if you want to set up a pair programming session or something similar. The HTML looks great, and it should be fairly straightforward to tie it into some things.

[2017-03-10 04:20] simonv3 commented on #874
(ditto from the other issue, I'd be more than happy to do a little pair programming to get you familiar with what doing this with Angular would look like).

[2017-03-10 21:01] roryaronson opened #919 "Crop image display and management is a little broken"
Additional crop images are not being displayed on the crop view page:
<img width="741" alt="screen shot 2017-03-10 at 12 58 01 pm" src="https://cloud.githubusercontent.com/assets/5524043/23812951/7257e256-0591-11e7-8933-e1030d7b0749.png">

When you go to edit the page, none of the images attached to the crop are shown in the image manager. Pressing save will remove all images from the crop :(
<img

[2017-03-10 21:36] roryaronson commented on #919
I'm gonna mark this as high priority because if someone edits a crop with images, they will accidentally delete that content.

[2017-03-11 15:10] nicholasedwards commented on #875
@simonv3 awesome. PM'd you on Slack.

[2017-03-12 02:12] Br3nda opened #920 "What is rubocup?"
I couldn't find the answer for this... there's no rubocop.yml in this project. but there is a "config/.rubocup.yml"

is this a typo? Is it a standard for a different tool? Rubocop is in the bundle, but ... it generates pages of failures.

[2017-03-13 04:57] simonv3 commented on #920
Looks like a typo to me!

[2017-03-13 06:33] Br3nda commented on #920
I can send a pr, that can help the project get to codestyle adherence. We're bound to find some bugs in the process.

[2017-03-13 08:25] Br3nda commented on #920
added in #921

[2017-03-15 00:08] sophiakc commented on #874
hey @nicholasedwards
I've had a look at your work and that's a great start! Are you going to pair-program with @simonv3 ?

[2017-03-15 00:14] sophiakc commented on #875
hey @nicholasedwards, keep us posted here how the pair programming goes with @simonv3 :-)

[2017-03-15 00:25] sophiakc opened #922 "Search page - post a guide request"
Hi @roryaronson @simonv3  and all

On the [search page](https://github.com/openfarmcc/OpenFarm/issues/874), I would add the possibility to create a guide request through one of the thumbnail. Similar to Craigslist, someone looking to grow a plant in a certain way (and possibly not finding it yet on Openfarm), would be able to post a request in the form of a guide. This would encourage interactions

[2017-03-15 00:30] sophiakc commented on #874
I have added a new feature suggestion for the search page (being discussed): https://github.com/openfarmcc/OpenFarm/issues/922

[2017-03-15 00:45] simonv3 commented on #922
I like it!

So we'd track the requests for growing on a crop, I assume? That should be fairly doable.

What happens with the number of requests if a guide for that crop gets created? Do we set it back to zero?

Going further down the rabbit hole - do we track specifics about the request? Like a location and an environment? Simplest of course is keeping track just that someone requested a guide, bu

[2017-03-15 01:01] simonv3 commented on #875
We're scheduled to do our session tomorrow!

[2017-03-15 02:10] sophiakc commented on #813
Hey @roryaronson

Thx for providing the admin document.
Can you legend what does the different items of model name exactly correspond to? Are they part of the user flow for a given user?
- Regarding guides, there are 170 created right? Is there a way to get more details of when they were created, by who, location...?
- Regarding impressions, is it guide pdf impression? guide views?
- is there a wa

[2017-03-16 19:52] sophiakc commented on #863
@roryaronson
I get your point about feedback, features' requests, and needs. But this is one thing to collect them upfront and another to see them in action. And I don't have any ways to measure who is coming/ leaving/ willing to ask questions.

Can't we give a try to a dedicated Slack for gardeners during 2 months? And based on its outcome, we can decide whether to continue or to close it. I am d

[2017-03-16 19:57] sophiakc commented on #922
@simonv3

Yes

First, we want to see if this request feature is used.
Second and theoretically, the number and the requests will stay the same. If a guide has been created and is answering the request, it would be added as a comment to the request. And possibily similar requests could be linked together on the comment section.
So that people finding one request could see the other ones and guide a

[2017-03-17 01:50] sophiakc commented on #875
@simonv3 How was it?

[2017-03-17 02:40] simonv3 commented on #875
@sophiakc it was good. You can see the work we did here: https://github.com/openfarmcc/OpenFarm/commit/afca35d3311f17fcb7ef4548980c590c29785d82

It's not finished yet. We're going to touch base on when we can do some more work together.

[2017-03-18 02:19] #920 closed

[2017-03-20 23:02] sophiakc opened #923 "Update/ Replace Openfarm logo + favicon"
As discussed with @roryaronson and @simonv3 , the OSI version of the logo is no longer valid. And I have eventually updated the Openfarm logo+mark assets ([see and download asset folder](https://drive.google.com/open?id=0B4a1xw3OY2hBcUdoQXVFLXM1bms))

Where does this need to be updated:
* [ ] On the homepage, top left corner: [white version of the logo (transparent background)](https://drive.googl

[2017-03-21 00:44] simonv3 commented on #923
Awesome, thanks @sophiakc!

[2017-03-21 04:36] sophiakc commented on #922
@simonv3 @roryaronson & all
Here a suggestion of wireframes for the Search page
- empty state
- result state with two additional call to actions: create a guide, post a request (this will open the same template "create a guide", the only difference being one identified as guide, the other as request)

![wireframe - empty state](https://cloud.githubusercontent.com/assets/3863675/24132756/0beecb84-0

[2017-04-04 15:24] simonv3 commented on #758
Looks like the company who owned the hardiness zone data went broke so now this data is brokered through Oregon State University. This data can now be combined to zipcodes through the frostline repo: https://github.com/waldoj/frostline. The issue of interest to us is probably https://github.com/waldoj/frostline/issues/13

[2017-04-06 03:32] waldoj commented on #758
Per @simonv3's comment, I'm getting this set up at phzmapi.org right now. (I just registered the domain about 15 minutes ago.) It's an S3 bucket, with one JSON file per ZIP code that's included in OSU's CSV file, e.g. [for 20001](http://phzmapi.org/20001.json). There's lots more to be done, but it's useful as-is. I hope it can be useful to y'all.

[2017-04-06 04:02] simonv3 commented on #758
Thanks a bunch for tracking this and moving forward with it @waldoj!

[2017-04-24 22:31] #919 closed

[2017-04-24 22:32] simonv3 commented on #919
:tada:

[2017-04-24 22:56] roryaronson opened #925 "Crop icon/image vandalism prevention"
A concern we have at FarmBot is someone deleting all the crop icons we've uploaded and/or uploading something inappropriate and that then being served to our users (and eventually on OpenFarm itself).

What are some options for preventing this type of vandalism? Here are some ideas off the top of my head:

* Limit image/icon management to admins/trusted people (tight control, but less contribution

[2017-04-24 23:13] roryaronson opened #926 "Use generic crop icon when specific crop icon does not exist"
@simonv3 has started to display the crop icons across the frontend. See the first peek under "Companion Plants" for [Kale](https://openfarm.cc/en/crops/kale)!

<img width="421" alt="screen shot 2017-04-24 at 4 07 59 pm" src="https://cloud.githubusercontent.com/assets/5524043/25362356/3bf26570-2908-11e7-8eb0-67682ad73ff5.png">

But its pretty ugly when there is no icon available:
<img width="79" al

[2017-04-25 14:57] simonv3 opened #927 "Crops autoselect dropdown will only select first crop."
When you type in the name of the crop and it suggests multiple crops, if you click on the second crop it will fill in the first crop, and if you click on any later crops it won't fill anything in.

[2017-04-26 23:57] jeffcore commented on #926
I am getting started in the open source community and would like to help out on this issue.

[2017-04-27 00:10] simonv3 commented on #926
Awesome @jeffcore! Let me know here or on [slack](http://slack.openfarm.cc/) if you need a hand.

[2017-04-27 01:25] jeffcore commented on #926
Do you want me to store the generic-plant.svg in the public/img folder?

[2017-04-27 02:11] simonv3 commented on #926
@jeffcore Yeah, that seems like a sensible place.

[2017-04-27 02:55] #807 closed

[2017-04-27 03:18] jeffcore opened #928 "undefined method `paginate' - in the Admin Section"
The following error happens when I click any link in the Admin Section of my local vagrant dev environment:

[code]

[2017-04-28 20:12] #926 closed

[2017-04-28 21:23] simonv3 opened #930 "Removing companion crops from a crop sometimes deletes all of the crop?"
That's no good.

Look into the syncing method used to see what's potentially going on here.

[2017-04-28 21:24] simonv3 commented on #923
The svgs for this are in the google drive folder: https://drive.google.com/drive/folders/0B4a1xw3OY2hBcUdoQXVFLXM1bms

[2017-04-29 01:15] #923 closed

[2017-04-29 01:29] #928 closed

[2017-05-04 03:55] simonv3 commented on #907
Hey @anyangocynthia, how's this going?

[2017-05-04 04:26] simonv3 commented on #861
This is also related to https://github.com/openfarmcc/OpenFarm/issues/912, where that call for volunteers is outlined.

[2017-05-04 04:31] simonv3 commented on #792
This is done!

[2017-05-04 04:31] #792 closed

[2017-05-04 04:32] simonv3 commented on #742
This is done!

[2017-05-04 04:32] #742 closed

[2017-05-04 04:36] simonv3 commented on #659
I'm going to close this because it's never going to happen.

[2017-05-04 04:36] #659 closed

[2017-05-04 11:19] anyangocynthia commented on #907
@simonv3 I thought I fixed it

[2017-05-04 14:06] simonv3 commented on #907
@anyangocynthia :thumbsup: I can't check because I don't have facebook. If it's fixed let me know and I'll close this issue :)

[2017-05-04 14:18] anyangocynthia commented on #907
@simonv3 I will recheck and get back to you

[2017-05-04 18:55] gillisig commented on #874
Sorry for upping but I just wanted to praise @sophiakc for a great design!

[2017-05-06 21:58] simonv3 commented on #704
I can't reproduce this anymore. I wonder if it went away with using an external library for image uploading?

[2017-05-08 14:50] anyangocynthia commented on #907
@simonv3 I have investigated again. The meta data is correct.The problem may occur with the Facebook scrapper failing to scrape correctly but otherwise this is fixed.

[2017-05-08 16:28] #907 closed

[2017-05-08 16:34] simonv3 commented on #907
Thanks @anyangocynthia!

[2017-05-09 19:13] roryaronson opened #932 "Make "Spread" clearer"
Right now it is not clear that "Spread" is a diameter. Can we update the crop edit and crop show pages to indicated that spread is a diameter?

I'm thinking we just update the "Spread" string to read as "Spread (diameter)"

[2017-05-09 19:28] roryaronson opened #933 "UI for adding Parent Crops"
Looks like the crop model [already supports](https://github.com/openfarmcc/OpenFarm/issues/842#issuecomment-251702705) "varieties" and "parents", and the UI elements for Companion Plants is already in place and could be re-used, it seems.

Thoughts?

[2017-05-09 19:48] roryaronson opened #934 "Add "Variety" and "Cultivar" to the crop taxon dropdown"
https://github.com/openfarmcc/OpenFarm/issues/683#issuecomment-226663580

[2017-05-09 19:52] simonv3 opened #935 ""Cannot update 'companion_ids' and 'companion_ids' at the same time""
[code]

[2017-05-09 20:00] roryaronson commented on #742
FYI, there are now over 100 icons hosted on OpenFarm and another 40 coming up this week! 🌱 🌱 🌱 🌱 🌱 🌱 🌱 🌱 🌱

[2017-05-10 01:04] simonv3 commented on #742
Tell me more about the money plant.

[2017-05-10 01:08] roryaronson commented on #742
Well, when making dozens of icons one has to have a little fun, yea? I'm thinking we might make some lucky charms icons too hahaha 🌈 🌠 ❤️ 🌔 🎩 ☘️

[2017-05-10 01:10] roryaronson commented on #742
https://openfarm.cc/crops/money-tree

[2017-05-10 01:10] simonv3 commented on #742
Yeah but how can I grow it?

[2017-05-10 01:10] roryaronson commented on #742
Oh, I'm still working on the guide ;p

[2017-05-10 01:10] simonv3 commented on #742
Note: we need to add the icons to the crop view.

[2017-05-10 01:15] roryaronson commented on #874
I haven't had time to read all the discussion but I will up this again: Great work @sophiakc! This is looking really good 🐝 🥇

Very exciting :)

[2017-05-10 01:25] sophiakc commented on #874
thx for acknowledging @gillisig & @roryaronson
I'm off-ish Openfarm but happy to get back to it if you have questions, comments, love to share! 🙂

[2017-05-15 11:26] anyangocynthia commented on #756
Hey @simonv3, has this issue been solved by https://github.com/openfarmcc/OpenFarm#accessing-vagrant ?

[2017-05-16 09:28] simonv3 commented on #756
Looks like it!

[2017-05-16 09:28] #756 closed

[2017-06-28 20:59] sophiakc commented on #912
I've created a new onboarding for anyone coming for the first time on the website and willing to chat, whether gardeners and/ or OS contributors: https://goo.gl/forms/ATCZcU6Ohsy57wuI3

So below my updates suggestion for the footer:
*[ ] Replace Logo by the updated one: https://drive.google.com/open?id=0B4a1xw3OY2hBVWplSHFtNjA3ZGM
*[ ] Replace Openfarm/ Contact by FAQ
*[ ] Replace Contribute/ Slac

[2017-07-05 14:07] roselynemakena commented on #912
Hi @sophiakc @simonv3, I am working on this issue..

[2017-07-07 16:14] simonv3 commented on #912
@roselynemakena did great work on this, which is now on the live site.

I want to move a conversation we've had in e-mail to here though, so that it's a bit more public and other people can pitch in if they have strong opinions. CC @roryaronson @sophiakc

This conversation is about whether the Google Form should be by-passable. I think on every step of the way it should be. I also think it's a goo

[2017-07-08 05:15] roselynemakena commented on #912
Thanks @sophiakc @simonv3 , I am super glad to be working with the team :-)
I tend to agree on the by-assability of the form. An option could be have a direct link that allows the user to skip the form and get the invite straight away as @simonv3 pointed out this way we wouldn't discourage a user who may not have all the answers at the time but wants to contribute thoughts/ideas.

About the slack

[2017-07-08 13:44] anyangocynthia commented on #737
@simonv3 I am looking into this issue. Just realized that there is a manifest.json file that already exists and it has been linked. Is there more to be done or we close the issue. Please look into it.

[2017-07-08 17:46] simonv3 commented on #737
This isn't closed because last I checked it isn't working properly yet. The file was added, but not tested properly. Is that something you're willing to look into @anyangocynthia?

[2017-07-11 12:16] anyangocynthia commented on #737
yes @simonv3

[2017-07-12 18:50] simonv3 opened #938 "Adding a crop to a garden is broken"
When you type in a crop on your profile's garden the spinner spins forever and nothing appears.

The console shows the following error:

![screenshot 2017-07-12 10 48 33](https://user-images.githubusercontent.com/485583/28134569-d1b2b608-66ef-11e7-8d6f-b9f748db052b.png)

[2017-07-13 09:24] Br3nda commented on #938
Can you give the url to the page on growstuff.org ?

[2017-07-13 16:57] simonv3 commented on #938
Hey @Br3nda this is for OpenFarm.

[2017-07-22 13:57] sophiakc opened #939 "How to get more knowledge about Openfarm users, gardeners and contributors?"
We need more information about what:
- gardeners need and are looking for when landing on openfarm.cc
- Open Source contributors can bring to the table

Right now, anyone can enter the Slack channel. We don't know who they are, whether they are gardeners willing to ask questions about their garden, or if they are contributors and which skills and for how many min/ hours per week they can bring.
On

[2017-07-22 13:59] sophiakc commented on #912
Hi @simonv3 @roselynemakena @roryaronson
My take on that is that the question isn't really should the form be by-passable or not. The main question is more, how to get knowledge about our users, both gardeners and contributors: https://github.com/openfarmcc/OpenFarm/issues/939

[2017-07-22 15:59] simonv3 commented on #939
Note: I'm fairly sure the form's already implemented and in use on the website.

I still want to give people an option to skip it if they don't want to fill it in.

[2017-07-24 18:42] mcrowson opened #940 "Data Dump"
Make the data available in a bulk dump. This could be as a new endpoint or even just a regular mongo dump available at a certain location.

[2017-07-24 20:01] roryaronson commented on #939
I think the form is a good place to start. Let's give that a go for a little bit and then can maybe re-write some of the questions/inputs, or change direction if the form isn't working well.

[2017-07-24 20:17] simonv3 commented on #940
Things to be careful for if we're going to just do a raw dump - cherry picking the right collections for such a dump.

For now I think crop data as a dump would be most complete and useful to you, right @mcrowson?

[2017-07-24 20:30] mcrowson commented on #940
Crops, guides and stages is all I can think of. Obviously gardens and user
data isn't really relevant.

On Mon, Jul 24, 2017 at 4:17 PM, Simon <notifications@github.com> wrote:

[2017-07-24 20:31] simonv3 commented on #940
but we should still make it available to the user themselves.

[2017-07-25 05:22] roselynemakena commented on #939
Just to weigh in abit on this issue, I feel like the form is quite fundamental in collecting user information and is indeed one of the best ways to do this in this case just as @sophiakc has mentioned..However, having it by-passable should highly be considered in this case, since not all users do want to fill it in or they are neither farmers nor contributors or they want to check out open farm be

[2017-07-25 09:11] roselynemakena commented on #874
Hi @simonv3 @sophiakc

Currently,I am working on filtering the data search in order to populate the cards for the search results. The current data set does not contain the climate zone and the location, can we disable these input text fields until we have updated the data?

[2017-07-25 15:38] simonv3 commented on #874
sure! or just comment them out so that they don't show up?

Is this on the guides? Guides should have locations on them. Crops won't though.

[2017-07-25 18:14] anyangocynthia commented on #903
@sophiakc Do we need to retain the "Become a member" button for new users? I see its not included in the design

[2017-07-30 14:22] sophiakc commented on #939
I agree with @roryaronson that we can give this a try for a period of time and then iterate on it.
So far, we have less than 10 answers to the form so far, which isn't enough. I'll keep checking it and see what kind of information we get out of it, now that it is implemented on the website.
Also, this set of data will be matched with the Google Analytics of Openfarm, so we'll be able to see if the

[2017-09-07 11:58] sophiakc commented on #903
@anyangocynthia No, the new wireframes is on purpose not including "become a member".

[2017-09-14 13:16] anyangocynthia commented on #903
@sophiakc thanks for the feedback. @simonv3 There is a search box on the nav bar , as per the new designs it is not there should I include it?

[2017-09-16 13:51] sigu commented on #912
Are there issues not addressed in the code done by @roselynemakena that should be added?

[2017-09-16 14:29] anyangocynthia commented on #697
@simonv3 we have tested this with @sigu and @stlmaris123 and it seems to be working fine we should close this

[2017-09-16 14:31] anyangocynthia commented on #850
@simonv3 It seems that this issue was resolved in #853 could you please close it?

[2017-09-16 14:34] anyangocynthia commented on #509
@simonv3 Its not clear what is required to be done on this issue

[2017-09-16 15:43] sigu commented on #359
@roryaronson , what is the way forward in this?

[2017-09-16 15:49] anyangocynthia commented on #737
@simonv3 This seems to be working fine 👍
![videotogif_2017 09 16_18 37 16](https://user-images.githubusercontent.com/6637113/30513622-00ae6012-9b0f-11e7-9ed8-2b7cb2a6131f.gif)

[2017-09-16 16:02] anyangocynthia commented on #784
How can we go about doing this? @simonv3

[2017-09-16 16:05] anyangocynthia commented on #761
Should be added on the installation notes on the wiki and perhaps reference it on the readme? @roryaronson @simonv3

[2017-09-16 20:45] simonv3 commented on #761
You mean the reasons for using it? Yeah probably!

[2017-09-16 20:46] simonv3 commented on #784
It's something that just has to be scheduled on the stage server, but the stage server is down, and I haven't had a chance to investigate that properly yet.

[2017-09-16 20:47] simonv3 commented on #737
Awesome!

[2017-09-16 20:47] #737 closed

[2017-09-16 20:48] simonv3 commented on #359
The way I would go about doing this is trying to import the crops from the links Rory put in the header and then writing a rake job to import them to the local db. Once that works (and existing crops don't get overwritten or ignored) we can try running it on staging.

[2017-09-16 20:50] simonv3 commented on #509
basically making sure that the data on OpenFarm confirms to the ODI standards. For each thing on the certificate, we'll have to double check that we do it or not. If we do it, then we check it off. If we don't do it, then we comply with it.

[2017-09-16 20:50] #850 closed

[2017-09-16 20:50] simonv3 commented on #850
@anyangocynthia don't you have permission to close issues?

[2017-09-16 20:51] #697 closed

[2017-09-16 20:52] simonv3 commented on #912
The code is great, I don't think our form has been made by-passable though yet. cc @sophiakc ?

[2017-09-16 20:53] simonv3 commented on #903
New designs are canonical!

[2017-10-16 09:32] sigu commented on #359
The data we have has two columns, I am not sure which fields they represent. How should we treat them?
![screenshot-2017-10-16 96071 crops - scientific and common names csv](https://user-images.githubusercontent.com/584211/31605121-187780c2-b26e-11e7-927e-c38b52cc9c13.png)

[2017-10-16 10:54] anyangocynthia commented on #359
closed by mistake 🙈

[2017-10-16 17:01] roryaronson commented on #359
The first column is the `binomial name` of the crop. The second column is for comma-separated `common names`, of which there may be none available, one, or many.

For example, for [this crop](https://openfarm.cc/en/crops/tomato/edit), the binomial name is Solanum lycopersicum, while the common names include Tomato and Tomate.

[2017-10-16 19:30] sigu commented on #359
According to the validations, name is required for successful saving of the crop. @roryaronson also kindly have a look at my open PR and give feedback

[2017-10-17 06:09] roryaronson commented on #359
@sigu I suppose we could only import crops with at least one `common name`, and use that value as the `OpenFarm Crop Name`.

I'm not sure it would be a good idea to import crops and use the `binomial name` as the `OpenFarm Crop Name`. Just because that might be confusing. But, it is also probably true that a lot of crops don't have a `common name` because they aren't very common! In which case, it

[2017-10-18 16:24] sigu commented on #359
Just to summarise my understanding
- if it has a common name, we use it
- it it does **not** have a common name, use `binomial` as the common
- I will be assuming the OpenFarm Name is the `name` db property @simonv3 in this case

[2017-10-20 06:26] roryaronson commented on #359
@sigu I think you understand correctly. Let me just clarify:

* If the new crop has at least one `common name`, use the first one as the `OpenFarm Crop Name` AND enter all of them into the `common names` field.
* If the new crop does *not* have a `common name`, use the `binomial name` as the `OpenFarm Crop Name` AND enter that into the `binomial name` field.

The "fields" I'm referring to being th

[2017-10-20 10:26] sigu commented on #359
Then its done now 😄 ,  and approved

[2017-11-10 20:31] arthurpaulino opened #949 "Guide UI annoyance"
If the user hasn't configured his own garden parameters yet, the guide UI behaves in an annoying way:
![ui](https://user-images.githubusercontent.com/1919110/32676905-1e6193ca-c63b-11e7-9200-7cbb7d636c33.png)
I think it should display a spinner like `"Set Sun / Shade for #{user.garden.name}"` instead of displaying a message with the word "null" in it.

Also, and this may be just a personal prefere

[2017-11-10 20:52] arthurpaulino opened #950 "User UI improvements (fixes?)"
When browsing through someone else's profile, it seems like it's possible to edit/delete his gardening guides and gardens.
![user](https://user-images.githubusercontent.com/1919110/32678058-97f8c088-c63f-11e7-820e-5ed8466e8f00.png)
Was this planned somehow, like giving tips or suggesting deletions?

[2017-11-11 01:33] simonv3 commented on #950
Nope that looks like a bug. Can you actually delete them? There should be catches on the api to prevent that. Feel free to try and delete one on my account: https://openfarm.cc/en/users/53fdea2a6639300002020000

[2017-11-11 01:39] simonv3 commented on #950
Well, looks like it errors, I got a notification - but I don't know if you got one?

[2017-11-11 01:40] arthurpaulino commented on #950
deleting a guide causes a 500 internal server error.

editing/deleting a garden changes the page temporarily but doesn't really affect the back-end since what I do is undone after I refresh the page.

[2017-11-11 17:16] simonv3 commented on #950
Okay well that's a relief. Yeah the 500 error should really be an unauthorized error. Thanks for raising this bug!

[2018-01-04 16:29] #932 closed

[2018-01-29 00:10] Br3nda opened #953 "Turn on deppbot"
There's been a few gem updates since this project last updated, and i suspect it's because of lack of maintainer tie. Some of these will likely be security issues.

Deppbot is free for open source projects and will send a PR with a bundle update.
This will get this project security patched.

https://www.deppbot.com/

[2018-02-08 23:38] chrislabarge commented on #950
I'll work on this bug if no one else is.

[2018-02-09 15:46] simonv3 commented on #950
That's awesome @chrislabarge!

[2018-03-07 14:37] barbier opened #959 "Translation to Brazilian Portuguese"
Hi!
Here in Brazil the home farming is growing in urban areas and a system like this would help a lot to disseminate information on this subject.
I would like to do it, is it possible?

[2018-03-07 18:15] simonv3 commented on #959
Hey @barbier, it should be possible! Rory can help you get started with transifex which we use as translation software. What we'll then need is to create the relevant brazilian portuguese .yml file, as well as a way to select it as a locale (or ideally automatically set it via javascript?). We use the standard RoR translation set up.

[2018-03-07 19:33] barbier commented on #959
Thanks for the reply!
I forked the project and will create the yml file ASAP, after that I'll learn how to redirect the user.

[2018-03-16 16:21] nicmel opened #960 "The readme does not explain how to make it listen to another IP adress or port"
Where can I change the listening URI (127.0.0.1:3000) to access it from elsewhere?

[2018-03-17 20:18] alexgleason opened #961 "Create a Matrix room?"
Hi, I'd like to join the discussion, but I'd prefer not to use Slack because I don't accept their [privacy policy](https://slack.com/privacy-policy). Is there any interest in creating a Matrix room?

I'm particularly interested because I've just helped launch the first version of [GardenHub](https://gardenhub.io/), an open source (AGPL-licensed) application that connects community gardeners with p

[2018-03-19 16:08] simonv3 commented on #960
Hey @nicmel! This is a fairly standard rails app, so I think `rails -b 0.0.0.0 -p 2345` should work, but I haven't tested that.

[2018-03-20 00:07] roryaronson commented on #961
Hey Alex,

Thanks for hopping into the discussion here! While I applaud the desire to use as much free-as-in-freedom software as possible, especially for open-source projects, we've had issues in the past with discussion about our project becoming too fragmented across platforms (Github, email, Slack, Loomio, IRC, etc). At least at this time I don't think spreading our very limited community and a

[2018-03-30 07:30] nicmel commented on #960
Tks a lot it's working.

I should have think to check therails command but I'm not used with ruby
and rails

2018-03-19 17:08 GMT+01:00 Simon <notifications@github.com>:

--
Nicolas Melchior

[2018-04-02 16:23] simonv3 commented on #960
No problem!

[2018-04-02 16:23] #960 closed

[2018-04-07 02:38] roryaronson opened #968 "Prioritize crops with images and other content in search results"
For example, on this search https://openfarm.cc/en/en/crop_search?q=apple, the Fuji Apple entry with an image (currently ninth) could be second or third in the results.

[2018-04-07 02:44] #961 closed

[2018-10-08 16:46] farmanp commented on #780
Was this 500 error implemented?

[2018-10-09 00:58] simonv3 commented on #780
@farmanp I don't think it was

[2019-01-04 22:15] bbredesen opened #975 "Tags not saved when adding new crops"
It appears that tags are not being saved when a new crop is first added, though they are correctly saved and displayed when an existing crop record is updated.

To duplicate (on openfarm.cc):
1) Add a new crop with tag in the tag field
2) Save the record

Expected: the tags field shown on the resulting "view" page for the crop shows the tag(s) added by the user.
Actual: the field on the resulting

[2019-02-07 15:47] nicmel commented on #940
Having to work off line, I've managed to install a local instance.
 I'd like to have a way to get the data too!

[2019-02-07 17:00] jfaoe commented on #940
I just got the raw dump. I appreciate it. I hope it let's you function better. Join my repository Lamarck-7. It is distantly related ps:no data got through. Clean and simple.

[2019-02-14 13:29] nicmel commented on #940
Tks but your repo is empty!

How/where did you get the dump?

[2019-02-14 15:41] jfaoe commented on #940
I'm sorry I subscribed to your feed.There was no dump.

[2019-02-14 17:02] jfaoe commented on #975
I have a new crop. Can I tag my entry?

[2019-02-21 18:09] nicmel opened #976 "Databse Content"
When making a standalone install, the database is nearly Empty
It would be helpfull to be able to get a Databse Dump

[2019-03-02 15:06] RickCarlino commented on #976
@nicmel

If your goal is to get a development environment set up, you may want to give `rails db:seed` a look. This will get your database seeded with placeholder data that will allow the UI to render properly.

If your goal is to create an offline copy of `openfarm.cc`, we do not provide that sort of thing yet.

[2019-03-02 15:06] #976 closed

[2019-04-14 08:51] tuananh2311 opened #983 "Content translation"
Hi,

I just want to ask if there is a way to translate the crop information not just the website UI to another language?

Thanks

[2019-04-14 08:56] Br3nda opened #984 "Turn on dependabot"
Dependabot can send all security patches as a pr, so this repo doesn't fall out of date again.

[2019-04-14 18:54] Br3nda commented on #984
dependabot.com

[2019-04-15 01:31] roryaronson commented on #983
Unfortunately OpenFarm doesn't currently support data in multiple languages.

[2019-04-15 01:31] #983 closed

[2019-04-15 17:07] RickCarlino commented on #984
@Br3nda Sounds good :+1: I have a pretty hefty branch on my local that I've been working on as time allows (usually on Fridays). I will see about getting Dependabot in with the other changes.

[2019-04-16 00:58] Br3nda commented on #984
I'm keen to review, if you want to send canonical features from your branch as PRs.

[2019-05-09 11:41] nicmel commented on #940
:o(

[2019-05-10 11:19] nicmel opened #986 "create garden"
I installed a local instance within ubuntu 18.10 with elastic 6.5.1 and ubuntu standards packages ruby 2.5.1, etc.

getting it to work, but i'm unable to create a garden. The button does not react, so the only way to create a crop is search it and when not found, having the option to add it

[2019-05-10 11:25] nicmel opened #987 "local instance mail"
On a local instance, openfarm keeps asking to activate your account trough mail

[2019-05-18 13:15] avonwyss opened #988 "Icon exploitable for XSS purposes"
I tried to upload an OpenEmoji icon and by mistake uploaded HTML data. The result was a broken crop edit page - it looks as if the content of the icon is passed through 1:1 without any check or sanity measure, which would in consequence allow for XSS attacks.

I was only able to fix the edit page by setting a breakpoint in the Angular parse method and manually delete the icon content on hitting th

[2019-05-18 20:58] RickCarlino commented on #988
@avonwyss Indeed, you have spotted an XSS vector. We patched production (openfarm.cc) as soon as we saw your message (more on that later). **Thanks for bringing this to our attention!** In the future, **please contact us privately if you find a security issue**- it gives us time to deploy a patch and prevents bad actors from exploiting the vulnerability. Learn more about responsible disclosure [he

[2019-05-18 20:58] #988 closed

[2019-05-18 21:04] RickCarlino commented on #988
@avonwyss FarmBot offers a security bounty for substantiated production XSS vulnerabilities. Please contact me privately so that we may send it to you.

[2019-05-24 22:10] tuananh2311 opened #990 "System reboot - data lost"
Hi

Every time I do a system reboot, the rails app seems to lost connection to the DB even though mongo is running. Then I have to run rake db:setup again which reset the database.

I definitely do something wrong here, could anyone give me a hint?

This is my startup script on **development** environment

[code]

[2019-06-16 07:18] #990 closed

[2019-07-08 21:39] Br3nda commented on #984
@RickCarlino *nudge*

[2019-07-08 21:41] Br3nda commented on #984
@RickCarlino If you give me some maintainer rights, i can do some security patching going forward

[2019-07-09 02:15] RickCarlino commented on #984
@Br3nda It's done :heavy_check_mark: . Thanks for the help.

[2019-07-09 02:15] #984 closed

[2019-07-23 02:10] dependabot-preview[bot] opened #1022 "Dependabot couldn't reach https://rails-assets.org/ as it timed out"
Dependabot couldn't reach https://rails-assets.org/ as it timed out.

Is https://rails-assets.org/ accessible over the internet? If it is then this may be a transitory issue and can be ignored - Dependabot will close it on its next successful update run.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-07-23 03:14] #1022 closed

[2019-07-26 01:52] Br3nda opened #1029 "browser console errors - for google map (production)"
Google Maps JavaScript API error: RefererNotAllowedMapError
https://developers.google.com/maps/documentation/javascript/error-messages#referer-not-allowed-map-error
Your site URL to be authorized: https://openfarm.cc/en/guides/alaskan-potatoes

[2019-08-29 10:40] Alohacosmos opened #1054 "step 8 failure during docker compose"
ervice 'webapp' failed to build: The command '/bin/sh -c jobs="$(nproc)";   set -x;   bundle config build.nokogiri --use-system-libraries   && bundle install --jobs "$jobs" --without development' returned a non-zero code: 1

[2019-08-30 13:31] Alohacosmos commented on #1054
happens on windows and ubuntu

[2019-09-02 00:22] Br3nda opened #1057 "git master not deployed?"
#1052 not deployed

running from git master, and requesting:
http://localhost:3000/api/v1/crops.json?page=1
I get lots of results

but when i request the same from production
https://openfarm.cc/api/v1/crops.json?page=1
i get an empty dataset

was the git master from Thu Aug 29 deployed to production?

[2019-09-03 14:51] RickCarlino opened #1063 "Migrate to MongoDB's Full Text Search?"
When we started this project almost 6 years ago, full text search for Mongo was not that great.

 * In 2019, Mongo's full text search seems "good enough" for our use cases.
 * We are using an extremely outdated version of ElasticSearch which will be time consuming to upgrade.
 * ElasticSearch increases our hosting costs because we need to pay a third party vendor to host a database, on top of the

[2019-09-03 15:20] RickCarlino commented on #1057
I think we're good now @Br3nda . That last deploy may have failed for unknown reasons :man_shrugging:

[2019-09-03 15:20] #1057 closed

[2019-09-03 22:38] RickCarlino commented on #1063
Forgot to CC @Br3nda for commentary.

[2019-09-04 00:30] Br3nda commented on #1063
Is it as good as elastic search? the other option is to upgrade our version of elastic search - there's some really nice functionality we get from searchkick gem on growstuff that finds misspellings, priorities results by popularity (tomato being more commonly planted than tomatillo) and knows about plurals in a dozen languages (searches for "Lillies" finds "lily").

[2019-09-04 12:41] RickCarlino commented on #1063
@Br3nda I'm certain it won't be as good as Elastic, but I do think it will be "good enough" for the amount of search we are doing today, with the added benefit of a simplified dev/ci environment, fewer external deps, lower hosting costs, less headaches, etc.. I had some not-so-great luck during my last upgrade attempt, but can revisit it now that the other deps in the project are a bit more manage

[2019-09-08 10:23] Br3nda opened #1065 "broken images"
any idea why all the photos for tomatoes are broken
https://openfarm.cc/en/crops/tomato
Looks like an AWS permission - i get 403 errors.
https://s3.amazonaws.com/openfarm-project/production/media/pictures/attachments/5d6063d2fd619c00041d4371.jpg?1566598095

[2019-09-16 05:15] Br3nda commented on #1065
I've uploaded photos of feijoa (there were none). They save into s3, but they have some permission error and

https://openfarm.cc/en/crops/feijoa

Saved image : https://s3.amazonaws.com/openfarm-project/production/media/pictures/attachments/5d7f034b5186a00004e90299.jpg?1568605002

Returns a http 403

[2019-09-23 17:00] roryaronson opened #1072 "Some font awesome icons are missing"
![image](https://user-images.githubusercontent.com/5524043/65446294-e5db0c80-dde8-11e9-8f00-ca2d3a5bee06.png)

[2019-09-25 21:26] roryaronson commented on #1065
Thanks for the bump on this @Br3nda, I've asked @RickCarlino to take a look :)

[2019-10-31 21:07] Br3nda commented on #1065
@roryaronson this is still broken. Can i have heroku access to look further into this error?

[2019-11-05 20:23] roryaronson commented on #1065
@Br3nda yes, thank you for offering to help. Can you email me (rory@farmbot.io) with the email address you want to use to access Heroku with? I'll also need to add you to the AWS account I think. Rick is also looking back into this again today. We unfortunately got sidetracked the last month

[2019-11-05 22:49] Br3nda opened #1102 "Add/edit crop broken if no tags"

[2019-11-06 10:13] Br3nda commented on #1065
I only uploaded one image  yet there are multiple broken images attached to the crop. Could be a offline or rake task that is running over and over.

[2019-11-06 14:50] RickCarlino commented on #1065
Possible root cause: https://github.com/dtan4/terraforming/issues/235

Still investigating :hourglass_flowing_sand:

[2019-11-07 12:14] #1065 closed

[2019-11-12 03:25] Br3nda commented on #925
When there's no icon yet (i.e. we're using the default), we should allow uploading icons.

However, when one already exists, how about users can only propose replacements, and moderators need to approve them.

[2019-11-12 20:42] roryaronson commented on #925
I think that's a good first step in preventing vandalism. Might require a decent amount of work to implement though?

[2019-11-15 11:22] dependabot-preview[bot] opened #1113 "Dependabot can't resolve your Ruby dependency files"
Dependabot can't resolve your Ruby dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[2019-11-15 19:37] Br3nda commented on #1113
This is odd. It was upgraded by @dependabot in #1114

[2019-11-17 09:43] #1113 closed

[2019-11-18 11:12] feelepxyz commented on #1113
@Br3nda 👋 looks like 1.0.4 got yanked so you should be all good now that you merged #1114 https://rubygems.org/gems/rack-cors/versions/1.0.4

[2019-11-27 11:23] dependabot-preview[bot] opened #1120 "Dependabot couldn't reach https://rails-assets.org/ as it timed out"
Dependabot couldn't reach https://rails-assets.org/ as it timed out.

Is https://rails-assets.org/ accessible over the internet? If it is then this may be a transitory issue and can be ignored - Dependabot will close it on its next successful update run.

[View the update logs](https://app.dependabot.com/accounts/openfarmcc/update-logs/16257674).

[2019-11-27 20:40] Br3nda commented on #1120
Repeat of https://github.com/tenex/rails-assets/issues/416

[2019-11-28 11:20] #1120 closed

[2019-12-16 21:07] Br3nda opened #1134 "set up continuous deployment"

[2020-05-21 03:12] dependabot-preview[bot] opened #1210 "Dependabot couldn't reach https://rails-assets.org/ as it timed out"
Dependabot couldn't reach https://rails-assets.org/ as it timed out.

Is https://rails-assets.org/ accessible over the internet? If it is then this may be a transitory issue and can be ignored - Dependabot will close it on its next successful update run.

[View the update logs](https://app.dependabot.com/accounts/openfarmcc/update-logs/33967718).

[2020-05-21 03:19] #1210 closed

[2020-05-21 03:20] dependabot-preview[bot] opened #1220 "Dependabot couldn't reach https://rails-assets.org/ as it timed out"
Dependabot couldn't reach https://rails-assets.org/ as it timed out.

Is https://rails-assets.org/ accessible over the internet? If it is then this may be a transitory issue and can be ignored - Dependabot will close it on its next successful update run.

[View the update logs](https://app.dependabot.com/accounts/openfarmcc/update-logs/33970966).

[2020-05-21 03:29] #1220 closed

[2020-05-21 03:31] dependabot-preview[bot] opened #1221 "Dependabot couldn't reach https://rails-assets.org/ as it timed out"
Dependabot couldn't reach https://rails-assets.org/ as it timed out.

Is https://rails-assets.org/ accessible over the internet? If it is then this may be a transitory issue and can be ignored - Dependabot will close it on its next successful update run.

[View the update logs](https://app.dependabot.com/accounts/openfarmcc/update-logs/33971099).

[2020-05-21 11:16] #1221 closed

[2020-05-25 11:34] dependabot-preview[bot] opened #1225 "Dependabot couldn't reach https://rails-assets.org/ as it timed out"
Dependabot couldn't reach https://rails-assets.org/ as it timed out.

Is https://rails-assets.org/ accessible over the internet? If it is then this may be a transitory issue and can be ignored - Dependabot will close it on its next successful update run.

[View the update logs](https://app.dependabot.com/accounts/openfarmcc/update-logs/34416389).

[2020-05-26 11:17] #1225 closed

[2020-06-18 00:52] Br3nda commented on #1134
done.

[2020-06-18 00:52] #1134 closed

[2020-06-18 00:53] Br3nda opened #1249 "rename master branch to mainline"
removing master/slave terminology from our tech

[2020-06-18 00:55] Br3nda commented on #1249
done. CI updated too

[2020-06-18 00:55] #1249 closed, assigned to nobody

[2020-07-29 01:24] OliverEvans96 opened #1279 "Cannot Join Slack Channel (Broken Link)"
Hi there,

Seems like a really cool project, and I'd love to chat about it! Unfortunately, the [slack invitation link](https://slack.openfarm.cc) isn't working for me:

![image](https://user-images.githubusercontent.com/15915043/88745639-8e987d80-d118-11ea-98b9-259a88572f0e.png)

I'd love to hear when it's back up or if there's any temporary workaround.

Thanks,
Oliver

[2020-07-29 01:26] OliverEvans96 commented on #1279
Specifically, it seems that the page is using a wildcard cert for `*.herokuapp.com` rather than `slack.openfarm.cc`

[2020-10-03 08:20] rasyidf commented on #694
I think it's better to separate the backend and front-end based on the following benefits:
- satisfy Open Data Qualifications #509
- let others implement separate UI Client with different technology and platform ( Desktop, Mobile )
- separated repository will make it easy to maintain related issues.
- The community will gladly help, perhaps.

It might be overwhelming, but this will ease the burden

[2020-10-13 00:44] simonv3 commented on #694
@rasyidf feel free to take it on! As far as I know this project is largely dormant right now.

[2021-05-24 11:15] dependabot-preview[bot] opened #1365 "Dependabot couldn't reach https://rails-assets.org/ due to underlying error <too many connection resets (https://rails-assets.org/specs.4.8.gz)> as it timed out"
Dependabot couldn't reach https://rails-assets.org/ due to underlying error <too many connection resets (https://rails-assets.org/specs.4.8.gz)> as it timed out.

Is https://rails-assets.org/ due to underlying error <too many connection resets (https://rails-assets.org/specs.4.8.gz)> accessible over the internet? If it is then this may be a transitory issue and can be ignored - Dependabot will clo

[2021-05-25 11:17] #1365 closed, assigned to nobody

[2021-07-10 16:45] nihonjinrxs commented on #1279
@simonv3 @sophiakc you all seem to have been maintainers here in the past. Is the project still alive? If so, can you provide information on how to join Slack? Thanks!

[2021-07-11 14:51] simonv3 commented on #1279
I don't think the Slack is still active. I haven't logged into it in like 5 years :P

[2021-07-17 20:23] asbjornstokka commented on #1279
Could Discord be a possibility, given that the slack is not active/alive? Been working on a LED-light/plant-sensor hobby project (IoT/OpenThread) for a while, and am just about to start growing plants, and would love to have a community.

[2021-08-14 19:07] nihonjinrxs commented on #1279
@asbjornstokka I'd be happy to join a Discord server for this if Slack is inactive.

(Below updated after digging further into the repo.)
I guess my question is what's happening with this project? It looks like a great amount of work happened here in the past, and there was a pretty solid community around it. When I looked prior, it seemed no updates had been made in a while. Now, it seems there's

[2021-08-14 19:39] asbjornstokka commented on #1279
I first found openfarm through kickstarter a long time ago, and now searched it up again as I am creating an indoor LED plant light/sensors system going to grow myself herbs, strawberries etc, and also have some interested friends. I do lack in the plant knowledge, and thought I could most likely learn a lot here to avoid small mistakes, and hoped to find a community with people interested in plan

[2021-08-14 19:54] RickCarlino commented on #1279
:wave: Hi, @nihonjinrxs @asbjornstokka .

I am going to ping @roryaronson about this matter, since I was not involved in the creation or management of the Slack channel.

To answer your question, I would call myself somewhat of an "interim lead developer". I wrote the vast majority of the codebase circa 2014. It was then handed off to a developer who took the role of lead. After he stepped down a

[2021-08-14 20:01] nihonjinrxs commented on #1279
Thanks for this context @RickCarlino ! I'm definitely interested in helping out, and I have a student who is also very interested, so I will try to contact you regarding that shortly.

I'll note that I tried to create an account and couldn't complete the process because of a certificate issue coupled with HSTS that prevents being able to confirm the email address. While not a dire consequence (I s

[2021-08-17 20:44] roryaronson commented on #1279
As has been mentioned, the Slack group has not been active for quite some time, though it does still exist! There may be members in there open to discussion :) You can get get an automated invite link from here: https://openfarm-slack.herokuapp.com/ It looks like something with SSL lapsed with the slack.openfarm.cc subdomain, so that will no longer work unfortunately.

[2021-08-17 20:44] #1279 closed, assigned to nobody

[2021-10-27 23:32] kkreine commented on #908
Hey @RickCarlino, it looks like the popup has not been changed. I'm happy to work on this issue. They decided on the first proposed UI design, would you like me to work on implementing that UI?

[2021-10-28 15:08] kkreine commented on #1072
Fontawesome icons were initially missing, and were added back in the pull request above. Here is what it looks like now, with all icons showing:

![image](https://user-images.githubusercontent.com/54552641/139283247-48c4932d-0b4b-444a-9768-e05e7ed6f365.png)

Is this complete or does this still require work? @RickCarlino

[2021-10-28 15:27] RickCarlino commented on #1072
Looks like this is indeed just a stale issue. Thanks for the heads up @kkreine

[2021-10-28 15:44] RickCarlino commented on #908
@kkreine I am glad you are interested in contributing! If you think this could be finished without too many changes to the build system (or adding a lot of new assets), you could give it a try. Conversely, I don't think the app is in a good state to accept outside _large_ contributions relating to front-end changes. The reason I say this is because:

 * The app is still without a lead maintainer.

[2021-10-28 17:13] kkreine commented on #908
@RickCarlino Thank you for providing this direction and reasoning.

I think the first UI is a good proposal, but given the priority of the upgrades and potential need for re-writing, I agree, I will focus my efforts on the upgrades. I'll be meeting with @nihonjinrxs soon to discuss them. I'll be happy to revisit this issue when the upgrade is complete.

[2022-01-08 10:07] felixwatts opened #1373 "Slack link in readme is dead"
Getting https://slack.openfarm.cc gives me ERR_SSL_PROTOCOL_ERROR

[2022-02-12 09:38] aaferrari commented on #1373
I take advantage of this issue to comment that when trying to access the assets in https://drive.google.com/open?id=0B-wExYzQcnp3cGphOGZQS1lBRFk the page says that you have to request access to the owner of the file (although I have no idea if this was always the case or if it is a recent change in Google Drive).

[2022-02-18 04:04] kulbir-ahluwalia opened #1374 "Database of OpenFarm.cc"
Hi,

Is the database of the plants included in openfarm.cc publicly available?

I am interested in writing a script to plant a particular species of plant so it would be great to know the names and number of species in the openfarm.cc database.

Please let me know about your suggestions.

Thank you so much!

Regards,
Kulbir

[2022-03-25 10:57] milahu opened #1376 "crop rotation? intercropping?"
hey there

im looking for an app that can produce a full garden design
including crop rotation (four years cycle, strong-middle-weak-zero)
and intercropping (mixed cultivation, plant symbiosis)
based on my usda hardiness zone and/or my climate profile
(annual trends of temperature and rainfall)

at first sight, this projects only can tell me how to grow one crop
("1. Choose a Crop 2. Find a Guide